* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}

body {
    color: aliceblue;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: rgb(43, 42, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: index 100;
    text-shadow: white 5px 5px 7px;
}

.logo{
    font-size: 25px;
    color:  white;
    text-decoration: none;
    font: weight 600px;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: white;
    animation: showRight 1s forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: beige;
    text-decoration: none;
    font-weight: 600px;
    margin-left: 35px;
    
}

.navbar a:hover,
.navbar a.active {
    color: wheat;
}

.Home {
    height: 100vh;
    background: url(see\ of\ nowhere.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}    

.Home-content {
    background-color: transparent;
    max-width: 600px;
    overflow: hidden;
    animation: slideIn 1s ease-out forwards;
}
.Home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.Home-contenth1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.Home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(228, 175, 78);
}

.Home-content p{
    width: 345px;
    margin: 20px 0 40px;
}

.Home-content.btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background-color: chartreuse;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: spacing 1px;
    z-index: 1; 
    overflow: hidden;
}

.btn-box a:nth-child(2)::before {
    content: "";
    position: absolute;
    background-color:black;
    width: 100%;
    height: 100%;
    transition: background-color 0.8s ease-in-out;
}
.btn-box a:nth-child(2):hover::before {
    background-color:wheat;
}
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: wheat;
    z-index: -1;
    transition: .8s;
}

.btn-box a:hover::before {
    width: 100%;
    background: #01060a;
}

.home-imgHover {
    position: absolute;
    top: 80px;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    transition: 3s;
}



/*KEYFRAMES ANIMATION */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

     to {
        opacity: 1;
        transform: translateX();

     }
    }     
    
      
      
      